<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/images/icons/logo-controller.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/d27bc8f318.js" crossorigin="anonymous"></script>
    <title>AluraGeek</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/banner.css" />
    <link rel="stylesheet" href="../assets/css/section.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/login__style.css" />

</head>

<body>
    <header>
        <a href="../index.html" class="header__logo">
            <img src="../assets/images/icons/logo.svg" alt="AluraGeek logo" class="header__logo" />
        </a>
        <div class="header__right">
            <form>
                <!-- FIXME -->
                <div class="input-container">

                    <input type="text" class="buscar-input" placeholder="¿Qué deseas buscar?" data-tipo="busqueda"
                        required minlength="3" />
                    <span class="input-message-error">Este campo</span>
                </div>
                <button class="buscar-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </header>

    <main>
        <form class="form-agrega form-message" data-productos-form>
            <h3 class="form-title">Agregar nuevo producto</h3>
            <div class="sube-img">

                <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                    <p class="fa-regular fa-image fa-2x"></p>
                    <p>Arrastre para agregar una imagen para el producto</p>
                </div>
                <p>Ó</p>
                <input type="file" multiple class="btn-buscar-file" />
            </div>
            <!-- FIXME -->
            <div class="input-container">

                <label for="nombre-producto">Nombre del producto</label>
                <input type="text" name="nombre-producto" id="" class="in-text" required maxlength="20"
                    data-productos-nombre data-tipo="nombrep" />
                <span class="input-message-error">Este campo no es valido</span>
            </div>
            <div class="input-container">

                <label for="precio-producto">Precio del producto</label>
                <input type="number" name="precio-producto" id="" class="in-text" required data-productos-precio
                    data-tipo="precio" />
                <span class="input-message-error">Este campo no es valido</span>
            </div>
            <div class="input-container">

                <label for="descripcion">Descripción del producto</label>
                <input name="descripcion" cols="30" rows="5" class="in-text" required maxlength="150" required
                    data-productos-descripcion data-tipo="descripción">
                <span class="input-message-error">Este campo no es valido</span>
            </div>

            <button class="btn-style btn-agrega ">Agregar producto</a>

        </form>
    </main>
    <section class="pre-footer">
        <img src="../assets/images/icons/logo.svg" alt="" class="logo-foot" />

        <div class="pre-footer__link-area">
            <a href="#">
                <p class="link-foot-text footer__link">Quienes somos</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Politica de Privacidad</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Programa de fidelidad</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Nuestras Tiendas</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Quiero ser franquiciado</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Anuncie aquí</p>
            </a>
        </div>
        <form class="form-message" data-formulario-mensaje>
            <h3 class="form-title">Hable con nosotros</h3>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="" class="in-text" maxlength="40" data-nombre-usuario required
                oninvalid="this.setCustomValidity(`Escribe tu nombre`)" oninput="setCustomValidity(``)" />
            <label for="mensaje">Escribe tu mensaje</label>
            <textarea name="mensaje" cols="30" rows="5" class="in-text" maxlength="120" data-mensaje-usuario required
                oninvalid="this.setCustomValidity(`Escribe tu mensaje`)" oninput="setCustomValidity(``)"></textarea>
            <div class="error" data-error></div>
            <button class="btn-style ">Enviar mensaje</button>
        </form>
    </section>
    <footer>
        <p class="footer__text">Desarrollado por Arturo Mendoza</p>
        <br />
        <p class="footer__text">2022</p>
    </footer>
    <!-- imagen -->
    <script src="../js/agrega-producto.js"></script>
    <!-- redirecciona -->
    <script src="../js/productos-validaciones.js" type="module"></script>
    <!-- validaciones personalizadas -->
    <script src="../js/app.js" type="module"></script>
    <!-- agregar a API -->
    <script type="module" src="../controllers/agrega-controller.js"></script>
</body>

</html>
