<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="./assets/images/icons/logo-controller.svg" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
	<title>AluraGeek</title>
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../assets/css/header.css" />
	<link rel="stylesheet" href="../assets/css/banner.css" />
	<link rel="stylesheet" href="../assets/css/section.css" />
	<link rel="stylesheet" href="../assets/css/footer.css" />
</head>

<body>
	<header>
		<a href="../index.html" class="header__logo">
			<img src="../assets/images/icons/logo.svg" alt="AluraGeek logo" class="header__logo" />
		</a>
		<div class="header__right">
			<form action="#">
				<input type="text" class="buscar-input" placeholder="¿Qué deseas buscar?" />

				<button class="buscar-btn">
					<i class="fas fa-search"></i>
				</button>
			</form>
			<a href="../views/login.html"><button class="btn-style header__login-button">Login</button></a>
		</div>
	</header>
	<section class="banner">
		<div class="banner__info">
			<h2 class="banner__info__header">Febrero Promocional</h2>
			<h3 class="banner__info__sub-header">Productos seleccionados con 33% de descuento</h3>
			<button class="btn-style banner__btn">Ver Consolas</button>
		</div>
	</section>
	<main>
		<section class="section star-wars">
			<div class="section__title">
				<h2 class="section-header">Star-Wars</h2>
				<a href="">
					<p class="section__more">
						Ver todo
						<span>
							<img src="../assets/images/icons/arrow-ver.svg" alt="arrow pointing right"
								class="section__arrow-image" />
						</span>
					</p>
				</a>
			</div>
			<div class="section__products">
				<div class="section__single-products">
					<img src="../assets/images/star-wars/1.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/star-wars/2.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/star-wars/3.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/star-wars/4.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/star-wars/5.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/star-wars/6.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
			</div>
		</section>
		<section class="section consolas">
			<div class="section__title">
				<h2 class="section-header">Consolas</h2>
				<a href="">
					<p class="section__more">
						Ver todo
						<span>
							<img src="../assets/images/icons/arrow-ver.svg" alt="arrow pointing right"
								class="section__arrow-image" />
						</span>
					</p>
				</a>
			</div>
			<div class="section__products">
				<div class="section__single-products">
					<img src="../assets/images/consolas/1.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/consolas/2.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/consolas/3.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/consolas/4.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/consolas/5.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/consolas/6.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
			</div>
		</section>
		<section class="section diversos">
			<div class="section__title">
				<h2 class="section-header">Diversos</h2>
				<a href="">
					<p class="section__more">
						Ver todo
						<span>
							<img src="../assets/images/icons/arrow-ver.svg" alt="arrow pointing right"
								class="section__arrow-image" />
						</span>
					</p>
				</a>
			</div>
			<div class="section__products">
				<div class="section__single-products">
					<img src="../assets/images/diversos/1.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/diversos/2.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/diversos/3.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/diversos/4.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/diversos/5.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
				<div class="section__single-products">
					<img src="../assets/images/diversos/6.png" alt="stormtrooper mug" class="product-image" />
					<p class="product-name">Producto XYZ</p>
					<p class="product-price">$60.00</p>
					<a href="">
						<p class="product-link">Ver producto</p>
					</a>
				</div>
			</div>
		</section>
	</main>
	<section class="pre-footer">
		<img src="../assets/images/icons/logo.svg" alt="" class="logo-foot" />

		<div class="pre-footer__link-area">
			<a href="#">
				<p class="link-foot-text footer__link">Quienes somos</p>
			</a><a href="#">
				<p class="link-foot-text footer__link">Politica de Privacidad</p>
			</a><a href="#">
				<p class="link-foot-text footer__link">Programa de fidelidad</p>
			</a><a href="#">
				<p class="link-foot-text footer__link">Nuestras Tiendas</p>
			</a><a href="#">
				<p class="link-foot-text footer__link">Quiero ser franquiciado</p>
			</a><a href="#">
				<p class="link-foot-text footer__link">Anuncie aquí</p>
			</a>
		</div>
		<form class="form-message" data-formulario-mensaje>
			<h3 class="form-title">Hable con nosotros</h3>

			<label for="nombre">Nombre</label>
			<input type="text" name="nombre" id="" class="in-text" maxlength="40" data-nombre-usuario required
				oninvalid="this.setCustomValidity(`Escribe tu nombre`)" oninput="setCustomValidity(``)" />
			<label for="mensaje">Escribe tu mensaje</label>
			<textarea name="mensaje" cols="30" rows="5" class="in-text" maxlength="120" data-mensaje-usuario required
				oninvalid="this.setCustomValidity(`Escribe tu mensaje`)" oninput="setCustomValidity(``)"></textarea>
			<div class="error" data-error></div>
			<button class="btn-style ">Enviar mensaje</a>
		</form>
	</section>
	<footer>
		<p class="footer__text">Desarrollado por Arturo Mendoza</p>
		<br />
		<p class="footer__text">2022</p>
	</footer>
</body>

</html>
