<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/images/icons/logo-controller.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>AluraGeek</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/banner.css" />
    <link rel="stylesheet" href="../assets/css/section.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/login__style.css" />
</head>

<body>
    <header>
        <a href="../index.html" class="header__logo">
            <img src="../assets/images/icons/logo.svg" alt="AluraGeek logo" class="header__logo" />
        </a>
        <div class="header__right">
            <form action="#">
                <input type="text" class="buscar-input" placeholder="¿Qué deseas buscar?" />

                <button class="buscar-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </header>

    <main>
        <div class="login-error" data-login-error>
            <p class="login-error-inputs" data-login-error-inputs>Datos incorrectos</p>
            <form class="form-agrega form-message" data-login>

                <h3 class="form-title">Iniciar Sesión</h3>

                <label for="url-imagen">Escriba su correo electrónico</label>
                <input type="email" name="url-imagen" id="email" class="in-text" required
                    oninvalid="this.setCustomValidity(`Escribe tu correo electrónico`)" oninput="setCustomValidity(``)"
                    data-email />
                <label for="categoria">Escriba su contraseña</label>

                <input name="password" id="password" class="in-text" type="password" placeholder="contraseña" required
                    minlength="6" maxlength="12" data-password />
                <!-- <input name="password" id="password" class="in-text" type="password" placeholder="contraseña"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?!.*[ !@#$%^&*_=+-]).{6,12}$"
                    title="Al menos 6 caracteres, máximo 12, debe contener una letra minúscula, una letra mayúscula, un número  y no pude contener caracteres especiales."
                    required minlength="6" maxlength="12" /> -->

                <button class="btn-style btn-agrega">Entrar</a>


        </div>
        </form>
    </main>
    <section class="pre-footer">
        <img src="../assets/images/icons/logo.svg" alt="" class="logo-foot" />

        <div class="pre-footer__link-area">
            <a href="#">
                <p class="link-foot-text footer__link">Quienes somos</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Politica de Privacidad</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Programa de fidelidad</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Nuestras Tiendas</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Quiero ser franquiciado</p>
            </a><a href="#">
                <p class="link-foot-text footer__link">Anuncie aquí</p>
            </a>
        </div>
        <form class="form-message" data-formulario-mensaje>
            <h3 class="form-title">Hable con nosotros</h3>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="" class="in-text" maxlength="40" data-nombre-usuario required
                oninvalid="this.setCustomValidity(`Escribe tu nombre`)" oninput="setCustomValidity(``)" />
            <label for="mensaje">Escribe tu mensaje</label>
            <textarea name="mensaje" cols="30" rows="5" class="in-text" maxlength="120" data-mensaje-usuario required
                oninvalid="this.setCustomValidity(`Escribe tu mensaje`)" oninput="setCustomValidity(``)"></textarea>
            <div class="error" data-error></div>
            <!-- <input type="submit" value="Enviar mensaje" class="btn-style" /> -->
            <button class="btn-style ">Enviar mensaje</a>

        </form>
    </section>
    <footer>
        <p class="footer__text">Desarrollado por Arturo Mendoza</p>
        <br />
        <p class="footer__text">2022</p>
    </footer>
    <script src="../js/validaciones.js" type="module"></script>

</body>

</html>
