main {
    background-color: var(--back-grey);
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.form-agrega {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 50vw;
}

.in-text {
    height: 2rem;
    font-size: 1.4rem;
}

.btn-agrega {
    width: 50vw;
}

.login-error {
    border: solid 8px;
    border-color: var(--back-grey);
}

.login-error-inputs {
    color: orange;
    text-align: center;
    display: none;
}

/* Agregando productos */
.sube-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sube-img p {
    color: var(--title-grey);
}

#drop_zone {
    border: 3px dotted var(--txt-grey);
    width: 22vw;
    height: 10vw;
    padding: 1rem;
    background-color: white;
    text-align: center;

}

#drop_zone p {
    color: var(--txt-grey);
}

.btn-buscar {
    width: 22vw;
    color: var(--link-kblue);
    background-color: var(--back-grey);
    border: 2px solid var(--link-kblue);
}

@media screen and (max-width:800px) {

    .form-agrega {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 50vw;
    }
}

@media screen and (max-width:400px) {

    .form-message {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 80vw;
    }

    .btn-agrega {
        width: 80vw;
    }
}
