.title-product-style {
    margin-top: 2rem;
}

.agregar-btn {
    width: 9rem;
}

.section__all {
    margin: 2rem 2rem;
}

@media screen and (max-width:500px) {
    .section__title {
        justify-content: space-between;
        padding: 0 2rem;
        flex-wrap: wrap;
    }
}
